.git
.gitignore

venv
.venv
env
ENV

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*

*.log
logs

node_modules
dist
build

Dockerfile
docker-compose.yml
README.md

dockerpush.sh

.env